nodered/flows/agent2_tickets.json
[
    {
        "id": "test_enhanced_rag",
        "type": "tab",
        "label": "Agent2 - Enhanced RAG Test",
        "disabled": false,
        "info": "Testy ulepszonego systemu RAG z przeszukiwaniem Qdrant"
    },
    {
        "id": "inject_test1",
        "type": "inject",
        "z": "test_enhanced_rag",
        "name": "Test 1: Pytanie o Prawa i obowiązki Użytkownika Serwisu",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"input\":\"Jakie są Prawa i obowiązki Użytkownika Serwisu Extranet\",\"step\":\"initial\"}",
        "payloadType": "json",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "http_agent2"
            ]
        ]
    },
    {
        "id": "inject_test2",
        "type": "inject",
        "z": "test_enhanced_rag",
        "name": "Test 2: Formy Płstności",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"input\":\"Jakie są dostępne formy płatności w Exntranecie?\",\"step\":\"initial\"}",
        "payloadType": "json",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "http_agent2"
            ]
        ]
    },
    {
        "id": "inject_test3",
        "type": "inject",
        "z": "test_enhanced_rag",
        "name": "Test 3: Reklamacja oceny",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"input\":\"W jakim czasie mogę złożyć reklamacje oceny?\",\"step\":\"initial\"}",
        "payloadType": "json",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "http_agent2"
            ]
        ]
    },
    {
        "id": "inject_test4",
        "type": "inject",
        "z": "test_enhanced_rag",
        "name": "Test 4: Kontynuacja z detalami",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"input\":\"Przedstaw całą procedure reklamacji oceny\",\"step\":\"need_details\",\"original_query\":\"W jakim czasie mogę złożyć reklamacje oceny?\"}",
        "payloadType": "json",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "http_agent2"
            ]
        ]
    },
    {
        "id": "inject_health",
        "type": "inject",
        "z": "test_enhanced_rag",
        "name": "Health Check",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "http_health"
            ]
        ]
    },
    {
        "id": "inject_stats",
        "type": "inject",
        "z": "test_enhanced_rag",
        "name": "Stats - Statystyki kolekcji",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "http_stats"
            ]
        ]
    },
    {
        "id": "inject_reindex",
        "type": "inject",
        "z": "test_enhanced_rag",
        "name": "REINDEX - Załaduj ponownie dokumenty",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "http_reindex"
            ]
        ]
    },
    {
        "id": "inject_list_docs",
        "type": "inject",
        "z": "test_enhanced_rag",
        "name": "Lista dokumentów w Qdrant",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "http_list_docs"
            ]
        ]
    },
    {
        "id": "http_agent2",
        "type": "http request",
        "z": "test_enhanced_rag",
        "name": "POST /run",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent2_ticket:8000/run",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 590,
        "y": 600,
        "wires": [
            [
                "switch_response",
                "debug_all"
            ]
        ]
    },
    {
        "id": "http_health",
        "type": "http request",
        "z": "test_enhanced_rag",
        "name": "GET /health",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent2_ticket:8000/health",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "debug_health"
            ]
        ]
    },
    {
        "id": "http_stats",
        "type": "http request",
        "z": "test_enhanced_rag",
        "name": "GET /stats",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent2_ticket:8000/stats",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 160,
        "wires": [
            [
                "debug_stats"
            ]
        ]
    },
    {
        "id": "http_reindex",
        "type": "http request",
        "z": "test_enhanced_rag",
        "name": "POST /reindex",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent2_ticket:8000/reindex",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 220,
        "wires": [
            [
                "debug_reindex"
            ]
        ]
    },
    {
        "id": "http_list_docs",
        "type": "http request",
        "z": "test_enhanced_rag",
        "name": "GET /documents",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent2_ticket:8000/documents",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "debug_list_docs"
            ]
        ]
    },
    {
        "id": "switch_response",
        "type": "switch",
        "z": "test_enhanced_rag",
        "name": "Analiza odpowiedzi",
        "property": "payload.step",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "completed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "need_details",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ticket_created",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 830,
        "y": 600,
        "wires": [
            [
                "func_completed"
            ],
            [
                "func_need_details"
            ],
            [
                "func_ticket_created"
            ],
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "func_completed",
        "type": "function",
        "z": "test_enhanced_rag",
        "name": "Format: Odpowiedź znaleziona",
        "func": "const data = msg.payload;\n\nmsg.payload = {\n    status: \"✅ SUKCES - Znaleziono odpowiedź\",\n    response: data.response,\n    documents_found: data.documents_found || 0,\n    rag_results: data.rag_results || [],\n    collection: data.collection,\n    step: data.step\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 420,
        "wires": [
            [
                "debug_completed"
            ]
        ]
    },
    {
        "id": "func_need_details",
        "type": "function",
        "z": "test_enhanced_rag",
        "name": "Format: Potrzeba szczegółów",
        "func": "const data = msg.payload;\n\nmsg.payload = {\n    status: \"⚠️ BRAK WYNIKÓW - Proszę o więcej szczegółów\",\n    response: data.response,\n    original_query: data.original_query,\n    documents_found: data.documents_found || 0,\n    collection: data.collection,\n    step: data.step,\n    next_action: \"Użyj Test 4 z original_query z tej odpowiedzi\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 480,
        "wires": [
            [
                "debug_need_details"
            ]
        ]
    },
    {
        "id": "func_ticket_created",
        "type": "function",
        "z": "test_enhanced_rag",
        "name": "Format: Ticket utworzony",
        "func": "const data = msg.payload;\n\nmsg.payload = {\n    status: \"🎫 TICKET UTWORZONY\",\n    response: data.response,\n    ticket: data.ticket || {},\n    documents_found: data.documents_found || 0,\n    collection: data.collection,\n    step: data.step\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 540,
        "wires": [
            [
                "debug_ticket"
            ]
        ]
    },
    {
        "id": "debug_completed",
        "type": "debug",
        "z": "test_enhanced_rag",
        "name": "Odpowiedź znaleziona",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 420,
        "wires": []
    },
    {
        "id": "debug_need_details",
        "type": "debug",
        "z": "test_enhanced_rag",
        "name": "Potrzeba szczegółów",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 480,
        "wires": []
    },
    {
        "id": "debug_ticket",
        "type": "debug",
        "z": "test_enhanced_rag",
        "name": "Ticket utworzony",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 540,
        "wires": []
    },
    {
        "id": "debug_error",
        "type": "debug",
        "z": "test_enhanced_rag",
        "name": "Błąd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 600,
        "wires": []
    },
    {
        "id": "debug_all",
        "type": "debug",
        "z": "test_enhanced_rag",
        "name": "Pełna odpowiedź",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 680,
        "wires": []
    },
    {
        "id": "debug_health",
        "type": "debug",
        "z": "test_enhanced_rag",
        "name": "Health",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug_stats",
        "type": "debug",
        "z": "test_enhanced_rag",
        "name": "Statystyki",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug_reindex",
        "type": "debug",
        "z": "test_enhanced_rag",
        "name": "Reindex",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "debug_list_docs",
        "type": "debug",
        "z": "test_enhanced_rag",
        "name": "Dokumenty",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "test_enhanced_rag",
        "name": "⚠️ WAŻNE: Najpierw uruchom REINDEX!",
        "info": "## KROK 1: REINDEX\nPrzed testami kliknij przycisk '🔄 REINDEX' aby załadować dokumenty do Qdrant!",
        "x": 200,
        "y": 380,
        "wires": []
    },
    {
        "id": "inject_sequence",
        "type": "inject",
        "z": "test_enhanced_rag",
        "name": "Sekwencja: Pełny test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "func_sequence"
            ]
        ]
    },
    {
        "id": "func_sequence",
        "type": "function",
        "z": "test_enhanced_rag",
        "name": "Sekwencja testów",
        "func": "// Przygotuj sekwencję testów\nconst tests = [\n    {\n        name: \"Test 1: WiFi\",\n        payload: {input: \"Jak skonfigurować sieć WiFi?\", step: \"initial\"},\n        delay: 0\n    },\n    {\n        name: \"Test 2: Hasło\",\n        payload: {input: \"Jak zresetować hasło?\", step: \"initial\"},\n        delay: 5000\n    },\n    {\n        name: \"Test 3: Trudne pytanie\",\n        payload: {input: \"Dlaczego mój komputer wybucha?\", step: \"initial\"},\n        delay: 10000\n    },\n    {\n        name: \"Test 4: Kontynuacja\",\n        payload: {\n            input: \"To dotyczy laptopa Dell z Windows 11\",\n            step: \"need_details\",\n            original_query: \"Dlaczego mój komputer wybucha?\"\n        },\n        delay: 15000\n    },\n    {\n        name: \"Test 5: Bezpośrednie zgłoszenie\",\n        payload: {input: \"Potrzebuję nowego monitora\", step: \"create_ticket\"},\n        delay: 20000\n    }\n];\n\n// Wyślij testy z opóźnieniem\ntests.forEach((test, index) => {\n    setTimeout(() => {\n        node.send({\n            payload: test.payload,\n            test_name: test.name,\n            test_number: index + 1\n        });\n    }, test.delay);\n});\n\nnode.status({fill: \"blue\", shape: \"dot\", text: \"Sekwencja uruchomiona - 5s między testami\"});\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "http_agent2"
            ]
        ]
    }
]